<div class="footer">
    <div class="logo">
        <h1>Merkato Gebeya</h1>
        <p>Subscribe</p>
        <p>Get 10% off your first order</p>
        <input class="email-field" type="submit" value="Enter your email">
    </div>
    <div class="support">
        <h2>Support</h2>
        <p>1000, Addis Ababa, </p>
        <p>6killo, Ethiopia.</p>
        <p>info@merkato-gebeya.com</p>
        <p>+251921936050</p>
    </div>
    <div class="account">
        <h2>Account</h2>
        <p>My Account</p>
        <p>Login/Register</p>
        <p>Cart</p>
        <p>Wishlist</p>
        <p>Shop</p>

    </div>
    <div class="links">
        <h2>Quick link</h2>
        <p>Privancy policy</p>
        <p>Terms of User</p>
        <p>FAQ</p>
        <p>Contact</p>
    </div>
    <div class="app">
        <h2>Quick link</h2>
        <p>Save $3 With App New User Only</p>
        <div class="quick-link">
            <img class="bar-code" src="../../assets/images/QR.jpg" alt="QR code">
            <div class="store">
                <p>google play</p>
                <p>App store</p>
            </div>
        </div>
    </div>
</div>