.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
    padding: 30px;
}

.email-field {
    border: 1px solid white;
    border-radius: 2px;
    background-color: black;
    color: grey;
}

.quick-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar-code {
    width: 100px;
    margin-right: 10px;
}

@media (min-width: 900px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}