<header class="bg-white shadow-md">
    <div class="container mx-auto flex items-center justify-between py-4">
        <!-- Logo -->
        <div class="text-2xl font-bold text-gray-800">
            <a href="#" class="hover:text-red-500">
                <img src="../../../assets/images/logo.png" alt="Elala Logo" class="h-20">
            </a>
        </div>
        
        <!-- Navigation Links -->
        <nav class="hidden md:flex space-x-8">
            <a href="#" class="text-gray-700 hover:text-red-500">Home</a>
            <a routerLink="/contact-us" class="text-gray-700 hover:text-red-500">Contact</a>
            <a routerLink="/about-us" class="text-gray-700 hover:text-red-500">About</a>
            <a routerLink="/sign-up" class="text-gray-700 hover:text-red-500">Sign Up</a>
            <!-- <a href="#" class="text-gray-700 hover:text-red-500">Sign Up</a> -->
        </nav>
        
        <!-- Search Bar -->
        <div class="relative hidden md:block">
            <input 
                type="text" 
                placeholder="What are you looking for?" 
                class="w-64 px-4 py-2 border border-gray-300 rounded-full focus:outline-none"
            >
            <button class="absolute top-0 right-0 mt-2 mr-3 text-gray-600 hover:text-red-500">
                <i class="fas fa-search"></i>
            </button>
        </div>
        
        <!-- Icons -->
        <div class="flex items-center space-x-4">
             <!-- Wishlist Icon with Counter -->
            <div class="relative">
                <a routerLink="/wishlist" class="text-gray-700 hover:text-red-500">
                <i class="fas fa-heart text-2xl"></i>
                </a>
                <!-- Counter Badge -->
                <span *ngIf="wishlistCount > 0" class="absolute -top-2 -right-2 bg-red-500 text-white text-xs font-semibold px-2 py-1 rounded-full badge">
                {{ wishlistCount }}
                </span>
            </div>

            <!-- Cart Icon with Counter -->
            <div class="relative">
                <a routerLink="/cart" class="text-gray-700 hover:text-red-500">
                <i class="fas fa-shopping-cart text-2xl"></i>
                </a>
                <!-- Counter Badge -->
                <span *ngIf="cartCount > 0" class="absolute -top-2 -right-2 bg-red-500 text-white text-xs font-semibold px-2 py-1 rounded-full badge">
                {{ cartCount }}
                </span>
            </div>
        </div>
          
    </div>
    
    
</header>
