<div class="discount-nav">
    <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
    <a id="shop-now" href="shop-now">ShopNow</a>
</div>
<div class="navbar">
    <a routerLink="/home" [ngClass]="{ 'active': activeLink === 'home' }" class="brand">Merkato Gebeya</a>
    <ul class="nav-links">
        <li><a routerLink="/home" [ngClass]="{ 'active': activeLink === 'home' }">Home</a></li>
        <li><a routerLink="/contact" [ngClass]="{ 'active': activeLink === 'contact' }">Contact</a></li>
        <li><a routerLink="/about" [ngClass]="{ 'active': activeLink === 'about' }">About</a></li>
        <li><a routerLink="/signup" [ngClass]="{ 'active': activeLink === 'signup' }">Sign Up</a></li>
    </ul>
    <div class="search-container">
        <input type="search" name="search" id="search-bar" placeholder="What are you looking for?" />
        <span class="search-icon">&#128269;</span>
    </div>
</div>