<div class="login">
    <div class="side">
        <img src="../../assets/images/Side Image.png" alt="" />
    </div>
    <div class="login-form">
        <div class="login-content">
            <h2>Login in to Merkato-Gebeya</h2>
            <p>Enter you details below</p>
            <form action="submit">
                <input type="text" placeholder="Username" />
                <hr />
                <input type="password" placeholder="Password" />
                <hr />
                <button class="login-button" type="submit">Login</button>
                <span>Forgot Password?</span>
            </form>
        </div>
    </div>
</div>