<div class="register">
    <div class="side">
        <img src="../../assets/images/Side Image.png" alt="" />
    </div>
    <div class="register-form">
        <div class="register-content">
            <h2>Create an account</h2>
            <p>Enter you details below</p>
            <form class="form" action="submit">
                <input type="text" placeholder="Name" />
                <hr />
                <input type="text" placeholder="Email or phone number" />
                <hr />
                <input type="password" placeholder="Password" />
                <hr />
                <button class="register-button" type="submit">Create Account</button>
                <button class="register-google" type="submit">Sign up with goolgle</button>
                <p class="have-account">Already have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
</div>